MONGO_URL=mongodb+srv://Waqas:jVId83lTHgP8lKhD@cluster0.uz1dr5r.mongodb.net/url-shortner
JWT_SECRET=bc0f58a560a52f97090732d5a6114c2fd387972519b9e274b8dc2f9d2e10cad7
PORT=3000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
